.tausta {
	background-color: rgb(21, 22, 23);	
}

.paavari {
	background-color: rgb(178, 218, 255);
}

.kakkosvari {
	background-color: rgb(152, 182, 194);
}

.kolmosvari {
	background-color: rgb(38, 39, 48);
}

.vaalea {
	color: rgb(245, 250, 255);
}

.tumma {
	color: rgb(17, 29, 33);
}


.container {
	max-width: 62.5em;
	margin: auto;
}

.sisalto {
    float: left;
}

body {
	font-family: 'allerregular';
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Passion One', cursive;
}

header {
	background-image: url(../img/puubanneri.jpg);
    background-position: right;
    background-size: cover;
	height: 10em;
}

header img {
    height: 140px;
    padding: 10px;
}

#vasen-nav {
    width: 100%;
    float: left;
}

#vasen-nav ul, #yla-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

#vasen-nav li {
	border-bottom: 1px solid rgb(38, 39, 48);
	display: none;
}

#vasen-nav li:first-child {
	display: list-item;
}

#vasen-nav a, #yla-nav a {
	color: inherit;
	text-decoration: none;
	display: block;
	line-height: 3em;
}

#vasen-nav a:hover, #yla-nav a:hover {
	background-color: rgb(112, 134, 143);
}

#yla-nav {
    width: 100%;
    float: left;
}

#yla-nav li {
	display: block;
	float: left;
	width: 50%;
	border-left: 1px solid rgb(38, 39, 48);
	border-bottom: 1px solid rgb(38, 39, 48);
	box-sizing: border-box;
}

main {
    float: left;
    padding: 0 2em 1em 2em;
    width: 100%;
	box-sizing: border-box;
	margin-bottom: 6em;
}

main figure {
    float: left;
    text-align: center;
    margin: 0 1em 1em 0;
}

main img {
	display: block;
	margin: auto;
	max-width: 100%;
}

@media screen and (min-width: 640px){
	#vasen-nav {
		width: 16%;
	}
	
	#yla-nav, main {
		width: 84%;
	}	

	main {
		margin-bottom: 3em;
	}
	
	#yla-nav li {
		width: 25%;
	}
	
	#vasen-nav li {
		display: list-item !important;
	}
	
	#vasen-nav li:first-child {
		display: none !important;
	}
}












