/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-color {
    background-color: #263248;
    /* HEX */
    color: #FFF;
}

.secondary-color {
    background-color: #FF9800;
    color: #FFF;
}

.tertiary-color {
    background-color: rgb(126, 138, 162);
    /*  tai rgb */
    color: #FFF;
}

.white {
    background-color: #FFF;
    color: #000;
}

.black {
    background-color: #000;
    color: #fff;
}

.button {
    display: block;
    line-height: 2em;
    text-align: center;
    /* border-radius: 6px; */
}

a {
    color: inherit;
    text-decoration: none;
}

#main-menu ul,
#sub-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

#main-menu ul {
    justify-content: space-around;
}

#main-menu li,
#sub-menu li {
    width: 8em;
}

#main-menu a:hover,
#sub-menu a:hover {
    background: rgb(146, 158, 182);
}

header {
    background-image: url(../img/puu1.jpg);
    background-position: right;
    height: 10em;
}

header img {
    height: 100%;
}

#sub-menu ul {
    font-size: 0.8em;
    justify-content: start;
}

main,
aside,
footer,
header img {
    padding: 1em;
    box-sizing: border-box;
}

footer {}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    body {
        max-width: 62.5em;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    main {
        width: 80%;
    }
    aside {
        width: 20%;
    }
    nav,
    header,
    footer {
        width: 100%;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}