.tausta {
	background-color: rgb(21, 22, 23);	
}

.paavari {
	background-color: rgb(178, 218, 255);
}

.kakkosvari {
	background-color: rgb(152, 182, 194);
}

.kolmosvari {
	background-color: rgb(38, 39, 48);
}

.vaalea {
	color: rgb(245, 250, 255);
}

.tumma {
	color: rgb(17, 29, 33);
}


.container {
	max-width: 62.5em;
	margin: auto;
}

.sisalto {
    float: left;
}

header {
	background-image: url(../img/puubanneri.jpg);
    background-position: right;
    background-size: cover;
	height: 10em;
}

header img {
    height: 140px;
    padding: 10px;
}

#vasen-nav {
    width: 10em;
    float: left;
}

#vasen-nav ul, #yla-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

#vasen-nav li {
	border-bottom: 1px solid rgb(38, 39, 48);
}

#vasen-nav a, #yla-nav a {
	color: inherit;
	text-decoration: none;
	display: block;
	line-height: 3em;
}

#vasen-nav a:hover, #yla-nav a:hover {
	background-color: rgb(112, 134, 143);
}

#yla-nav {
    width: 52.5em;
    float: left;
}

#yla-nav li {
	display: block;
	float: left;
	width: 25%;
	border-left: 1px solid rgb(38, 39, 48);
	box-sizing: border-box;
}

main {
    float: left;
    padding: 0 2em 1em 2em;
    width: 48.5em;
}

main figure {
    float: left;
    text-align: center;
    margin: 0 1em 1em 0;
}

